<style>

p {
	color: black;
}

.main {
	margin: 0 auto;
	width: 675px;
	margin-top: 50px;
}

</style>

<div class="wrapper">

  <div class="main">

	<a href="http://localhost:4567/trans">
	<img src = "images/dan.jpg" height="400px" width="400px">
	<p>SEE HIS TRANSFORMATION</p></a>
	<br>

	<a href="http://localhost:4567/trans">
	<img src = "images/orlando.png" height="400px" width="400px">
	<p>SEE HIS TRANSFORMATION</p></a>
	<br>

	<a href="http://localhost:4567/trans">
	<img src = "images/ricky.jpg" height="400px" width="400px">
	<p>SEE HIS TRANSFORMATION</p></a>
  <br>
  
  </div>

</div> <!--closing wrapper-->

