<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>KLS</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="script.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
   <div class="banner_wrap ">
  <head><a href="http://localhost:4567/">
    <h1>Make up 4 Men</h1>
    <nav>
      <ul>
        <li><a href= "what">What We Do</a></li>
        <li><a href= "trans">Transformations</a></li>
        <li><a href= "meet">Meet the Team</a></li>
      </ul>
    </nav>
  </a></head>
<%= yield %>

<footer>
  <a href="https://www.facebook.com"><img src = "images/facebook_logo.png" width = 30px;>Facebook</a>
  <a href="https://www.instagram.com"><img src = "images/instagram_logo.png" width = 30px;>Instagram</a>
  <a href="https://www.youtube.com"><img src = "images/youtube_logo.png" width = 30px;>Youtube</a>
  <a href="https://www.linkedin.com"><img src = "images/linkedin_logo.png" width = 30px;>Linkedin</a>
  <div class="foot">All rights reserved &copy</div>
</footer>
</div> <!-- closing banner wrap-->
</body>

</html>