<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>KLS</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
  <head><a href="http://localhost:4567/">
    <h1>M 4 M</h1>
    <nav>
      <ul>
        <li><a href= "what">What We Do</a></li>
        <li><a href= "trans">Transformations</a></li>
        <li><a href= "meet">Meet the Team</a></li>
      </ul>
    </nav>
  </a></head>
<%= yield %>
</body>

</html>