<h2>MEET THE TEAM</h2>

<!-- $(document).ready(function(){
	$("img").hover(function(){
		$(this).css
})
})
 -->
<style>

	#Container {
		margin: auto 0px;
/*		width: 800px;*/
	}

	img {
		border-radius: 50%;
		-webkit-filter: grayscale(100%);
		position: inline-block;
	}

	img:hover {
		-webkit-filter: none;
		-webkit-transform: scale(1.1);
	}

	.Liz {

	}
	
	.Karen {
		position: inline-block;
		float: right;
	}

	.Shrads {

	}

</style>


<div id = "Container"> <!--wrapper-->

	<div class = "Liz">
		<img src="images/liz.jpg" width="400px" height="400px">
	</div>

	<div class = "Karen">
		<img src="images/jlo.jpg" width="400px" height="400px">
	</div>

	<div class = "Shrads">
		<img src="images/mia.jpg" width="400px" height="400px">
	</div>

</div> <!--closing wrapper-->

