<h2>MEET THE TEAM</h2>


<style>

	img {
		border-radius: 50%;
		-webkit-filter: grayscale(100%);
		position: inline-block;
	}

	img:hover {
		-webkit-filter: none;
		-webkit-transform: scale(1.1);
	}

	.Liz {
        float: left;
	}
	
	.Karen {
		/*position: inline-block;*/
		float: right;
	}

	.Shrads {
         float: left;
         margin-left: 250px;
	}

</style>


<!-- <div id = "Container"> -->
<div class = "wrapper">

	<div class = "Liz">
		<img src="images/liz.jpg" width="400px" height="400px">
	</div>

	<div class = "Karen">
		<img src="images/jlo.jpg" width="400px" height="400px">
	</div>

	<div class = "Shrads">
		<img src="images/mia.jpg" width="400px" height="400px">
	</div>

</div> 

