<img src="essie.jpg">
<a href="www.essie.com">ESSIE</a>
<p>Essie is the ultimate color authority offering a line of superior nail polishes. The fashion-forward shades with an exclusive award winning formula are always classic, chic and elegant. essie polish provides flawless coverage along with outstanding durability, a chip-resistant formula and whimsical names in the most up-to-the-minute color. All Essie nail polishes are DBP, toluene, and formaldehyde free.</p>

<img src="opi.jpg">
<a href="www.opi.com">OPI</a>
<p>OPI is the most-asked-for brand in the industry! With a superior range of shades and the hottest special effects and textures, OPI is the go-to brand for nail fashion. From elegant classics to eye-popping brights, OPI has your color! Formaldehyde-free.</p>

<img src="orly.jpg">
<a href="www.orlybeauty.com">ORLY</a>
<p>ORLY Nail Lacquer is fast drying and features streak-free coverage and brushability. It is free of DBP, formaldehyde and toulene and feature the award-winning Gripper Cap.</p>


