<!--This is for the image show-->
<head>
<script type="text/javascript">
var slideimages = new Array()
slideimages[0] = new Image()
slideimages[0].src = "images/trans_1.jpg"
slideimages[1] = new Image()
slideimages[1].src = "images/photo1.jpg"
slideimages[2] = new Image()
slideimages[2].src = "images/trans_3.jpg"
slideimages[3] = new Image()
slideimages[3].src = "images/test12.jpg"
slideimages[4] = new Image()
slideimages[4].src = "images/save.jpeg"
slideimages[5] = new Image()
slideimages[5].src = "images/save2.JPG"
slideimages[6] = new Image()
slideimages[6].src = "images/save3.png"
</script>
</head>

<body> <div id="slide_me">
<img src="images/trans_1.jpg" id="slide" width=600 height=300></div>
</body>

<script type="text/javascript">
var i=0

function slideit() {
	
	if (!document.images)
		return
	     document.getElementById('slide').src = slideimages[i].src
	if (i<6)
	    i++
	else
	i=0  
	setTimeout("slideit()",2500)


};

  slideit()


</script>

<div class="trans_title"><h4>We proudly present our featured transformations</h4></div>

<style>

.trans_title {
	text-align: center;
	margin-top: 100px;
}

img {
	text-align: center;
}

.trans_one {
   float: left;
   margin-left: 200px;
   padding: 0 100px;
   background-color:white;
   margin-right: 300px;
   margin-left: 300px;
}

.trans_two {
   float: right;
   padding: 0 100px;
   background-color:white;
   margin-right: 300px;
   margin-left: 300px;
   margin-top: 10px;
}
.trans_three {
   float: left;
   padding: 0 100px;
   background-color:white;
   margin-right: 300px;
   margin-left: 300px;
   margin-top: 10px;
}

body {
	background-color: black;
}



</style>	



<div class="trans_one"> 

    <img src="images/useme.jpg" class= "hello" width = 300px; style= "margin-top:50px">

       <h5>lTo be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; fo</h5>
</div>

<div class="trans_two">

    <img src="images/useme.jpg" class= "hello2" width = 300px; style= "margin-top:50px">

      <h5>To be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rub; fo</h5>
</div>       

<div class="trans_three">

    <img src="images/useme.jpg" class= "hello3" width = 300px; style= "margin-top:50px">

      <h5>hereTo be, or not to be: that is the question: whether 'tis nobler in the mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sleep; to sleep: perchance to dream: ay, there's the rubo</h5>
</div> 


