
<style>


.trans_one {
	float: left;
	padding-bottom: 50px;
}

.trans_two {
    float: right;
}
.trans_three {
   float: left;
   padding-left: 30px;
}

img {
	text-align: center;
}


</style>


<div class="trans_one">
<img src="images/trans_1.jpg" width = 400px; style= "margin-top:175px">
<p>mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sl</br>jjjjjjjjjjjjjjjjjjjjjjjjjjj</p></div>

<div class="trans_two">
<img src="images/trans_2.jpg" width = 400px; style= "margin-top:175px"><p>mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sl</p></div>

<div class="trans_three">
<img src="images/trans_3.jpg" width = 400px; style= "margin-top:175px"><p>mind to suffer the slings and arrows of outrageous fortune, or to take arms against a sea of troubles, and by opposing end them? To die: to sleep; no more; and, by a sleep to say we end the heart-ache and the thousand natural shocks that flesh is heir to, 'tis a consummation devoutly to be wish'd. To die, to sl</p></div>

