<head>
  <link rel="stylesheet" type="text/css" href="what.css">
</head>
<header>What We Do</header>
<div id="parone"
<p>
    KLS is a high end beauty bar located in the heart of New York City. Our team of professionaly trained makeup artists use the highest qualiy makeup brands to help bring you the look of your dreams. Started by Shraddha Patel in 1991, KLS has grown into the top destination in NYC for men to have their makeup done professionaly. Visit us today for a consultation. 
</div>

<div id="box">
<form action="action_page.php">
  <textarea name="message" rows="15" cols="40">
  Send us your name and contact information here!
  </textarea>
  <br><br>
  <input type="Send">
</form>
</div>